x-log: &def-log
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

x-sec: &api-sec
  security_opt:
    - no-new-privileges:true
  cap_drop:
    - ALL

services:

  api:
    build:
      context: .
      dockerfile: dockerfile
    profiles: [ "prod" ]
    image: task-tracker:latest

    env_file: [ .env ]

    environment:
      APP_ENV: dev
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME} 

    expose:
      - "8000"

    depends_on:
      db:
        condition: service_healthy

    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8000 || exit 1"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s
    
    restart: unless-stopped

    mem_limit: 256m
    cpus: "0.50"

    <<: *api-sec
  
    logging: *def-log

    networks: [ backend ]

  db:
    image: postgres:15-alpine
    restart: unless-stopped

    env_file: [ .env ]
    
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    
    ports:
      - "127.0.0.1:5436:5432"
    
    volumes:
      - pg_data:/var/lib/postgresql/data
    
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$DB_USER -d $$DB_NAME || exit 1" ]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s

    mem_limit: 512m
    cpus: "1.0"

    logging: *def-log

    networks: [ backend ]

volumes:
  pg_data:
    driver: local

networks:
  backend:
    driver: bridge


      
    